<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>表單處理</title>
</head>
<body>
  <main id="app">

    <div>{{ name }}，{{ sex }}性，年齡為 {{ age }} <br> {{ favor.length ? '喜歡' : '' }} {{ favor.join('、') }} {{ member ? '已' : '未' }}成為頻道會員</div>

    <div>
      <label>姓名</label>
      <input type="text" v-model="name">
    </div>
    
    <div>
      <label>性別</label>
      <input type="radio" v-model='sex' value="男"><span>男</span>
      <input type="radio" v-model='sex' value="女"><span>女</span>
    </div>
    
    <div>
      <label for="age">下拉選單</label>
      <select id="age" v-model='age'>
        <option select>18 歲以下</option>
        <option>19~29 歲間</option>
        <option>30~39 歲間</option>
      </select>
    </div>
    
    <div>
      <label>興趣</label>
      <input type="checkbox" checked v-model='favor' value="Codeing"><span>Codeing</span>
      <input type="checkbox" checked v-model='favor' value="PlayGame"><span>PlayGame</span>
      <input type="checkbox" checked v-model='favor' value="Japanese"><span>Japanese</span>
    </div>
    
    <div>
      <label for="member">是否加入會員</label>
      <input type="checkbox" id="member" v-model='member'>
    </div>
  </main>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js'></script>
  <script src="./js/day5.js"></script>
</body>
</html>