html {
  height: 100%;
}
body {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #448888;
  min-height: 100%;
}
h1 {
  text-align: center;
}
