<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css'/>
</head>
<body>
  <main id="app">
    <select v-model='input.type'>
      <option :value="null">請選擇</option>
      <option v-for="item in typeList.sort">{{ item }}</option>
    </select>

    <select v-model='input.title'>
      <option :value="null">請選擇</option>
      <option v-for="item in titleList.sort">{{ item }}</option>
    </select>

    
    <div class="menu" v-if='content'>
      <span>{{ content.index + 1 }}</span>
      <a :href="content.link">{{ content.link }}</a>
    </div>
  </main>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js'></script>
  <script src="./main.js"></script>
</body>
</html>