<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css'/>
</head>
<body>
  <main id="app">
    <select v-model='input.type'>
      <option>主廚的話1</option>
      <option>主廚的話2</option>
      <option>主廚的話3</option>
      <option>主廚的話4</option>
      <option>主廚的話5</option>
    </select>
    <input type="text" v-model.trim='input.title' @keyup.enter='inputHandler'>
    <div class="menu">
      <div class="menuItem" v-for="(item,index) in menu">
        <span>{{ index+1 }}</span><span>{{ item.type }}</span>
        <a :href="item.link">{{ item.title }}</a>
      </div>
    </div>
  </main>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js'></script>
  <script src="./day6.js"></script>
</body>
</html>