<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Vue.js 手牽手，一起嗑光全家桶</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="./css/main.css">
</head>
<body>
  <main id="app">
    <section>
      <div class="container">
        <div class="title">
          <img class="logo" :src="src" alt="Vue logo">
        </div>
        <h1> {{ title }} </h1>
        <div class="description">
          <a class="arrow left" v-if="index > 0" @click="changeIndex(-1)">＜</a>
            <div class="menuItem white" style="transform: scale3d(1.5,1.5,1)">
              <span class="number"> {{ index + 1 }} </span>
              <span class="type"> {{ today.type }} </span>
              <a class="title" target="vue-iron" :href="today.link" >{{ today.title }}</a>
            </div>
          <a class="arrow right" v-if="index < total -1" @click="changeIndex(1)">＞</a>
        </div>
      </div>
    </section>
  </main>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js'></script>
  <script>
    const data = {
      src: './images/logo.png',
      title: 'Vue.js 手牽手，一起嗑光全家桶',
      index: 0,
      menu: [
        { type: '主廚的話1', title: '簡介檢ˋ界點業界至簡介', link: 'javascript:void();'},
        { type: '主廚的話2', title: '簡介檢ˋ界至簡介', link: 'javascript:void();'},
        { type: '主廚的話3', title: '簡介檢業界至簡介', link: 'javascript:void();'},
        { type: '主廚的話4', title: '簡介檢界至簡介', link: 'javascript:void();'},
        { type: '主廚的話5', title: '簡介界至簡介', link: 'javascript:void();'}
      ]
    }

    const vm = new Vue({
      el: '#app',
      data: data,
      computed: {
        today(){
          return this.menu[this.index]
        },
        total(){
          return this.menu.length
        }
      },
      methods: {
        changeIndex:function(change){
          this.index = (this.index + change + this.total) % this.total
        }
      }
    })
  </script>
</body>
</html>